{% extends "layout.html" %}

{% block title %}
    Account
{% endblock %}

{% block main %}
<div class="header">
    <h1>{{ username|capitalize }}'s Account</h1>
    <h5>Account Created On {{ created_on }}</h5>
</div>

{% if email %}
<h5>Email: {{ email }}</h5>
{% endif %}


<br>
<br>

{% if shopping_lists %}
<h4>Saved Shopping Lists:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Shopping List name</th>
            <th scope="col">Date Created</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for list in shopping_lists %}
        <tr>
            <td>{{ list['list_name'] }}</td>
            <td>{{ list['date_created'] }}</td>
            <td>
                <a href="/shopping_list/{{ list['list_id'] }}" class="btn btn-info btn-sm">Show List</a>
                <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#confirmationModal" onclick="setFormAction('/remove_list/{{ list['list_id'] }}', 'Are you sure you want to delete {{ list['list_name'] }}?')" style="padding: 0;">Remove</button>
            </td>
        </tr>
        {% endfor %}

    </tbody>
</table>
{% endif %}

<br>
<br>

{% if favorites %}
<h4>Favorite Recipes:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Recipe Name</th>
            <th scope="col">Date Favorited</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for recipe in favorites %}
            <tr>
                <td>{{ recipe['name'] }}</td>
                <td>{{ recipe['date_favorited'] }}</td>
                <td>
                    <button type="button" class="btn btn-link btn-sm" data-toggle="modal" data-target="#confirmationModal" onclick="setFormAction('/remove_favorite/{{ recipe['recipe_id'] }}', 'Are you sure you want to remove {{ recipe['name'] }} from favorites?')" style="padding: 0;">Remove</button>
            </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
<br>
<br>
<br>

<!-- Display Favorite Store or Select Button -->
<div class="favorite-store-section">
    {% if fav_store %}
        <h4>Your Favorite store: <span style="color: green;">{{ fav_store[0].store }}</span></h4>
        <!-- Button to open the modal to edit the favorite store -->
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#favoriteStoreModal">
            Edit Favorite Store
        </button>
        <p><em>You can also add a New Store here</em></p>
    {% else %}
        <!-- Button to open the modal to select the favorite store -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#favoriteStoreModal">
            Select Favorite Store
        </button>
    {% endif %}
</div>

<br>
<br>
<br>
<br>

<!-- Buttons to trigger modals -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#emailModal">
    {{ 'Change' if email else 'Add' }} Email
</button>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#passwordModal">
    Change Password
</button>

<!-- Email Modal -->
<div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="emailModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emailModalLabel">{{ 'Change' if email else 'Add' }} Email</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/account" method="post">
                    <input type="hidden" name="form_type" value="{{ 'update_email' if email else 'add_email' }}">
                    <div class="form-group">
                        <input autofocus class="form-control" name="new_email" placeholder="Email..." type="email">
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">{{ 'Change' if email else 'Add' }} Email</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Password Modal -->
<div class="modal fade" id="passwordModal" tabindex="-1" role="dialog" aria-labelledby="passwordModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="passwordModalLabel">Change Password</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/account" method="post">
                    <input type="hidden" name="form_type" value="change_password">
                    <div class="form-group">
                        <input autocomplete="off" autofocus class="form-control" name="oldpass" placeholder="Old Password" type="password">
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="newpass" placeholder="New Password" type="password">
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="form-control" name="confirm" placeholder="Confirm Password" type="password">
                    </div>
                    <br>
                    <button class="btn btn-primary" type="submit">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Confirmation Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" role="dialog" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmationModalLabel">Confirm Action</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="confirmationMessage">Are you sure you want to do this?</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmBtn">Confirm</button>
            </div>
        </div>
    </div>
</div>



<!-- Favorite Store Modal -->
<div class="modal fade" id="favoriteStoreModal" tabindex="-1" role="dialog" aria-labelledby="favoriteStoreModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="/account" method="post">
                <input type="hidden" name="form_type" value="fav_store">
                <div class="modal-header">
                    <h5 class="modal-title" id="favoriteStoreModalLabel">Select Your Favorite Store</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="storeSelect">Choose Store:</label>

                        <select id="storeSelect" name="store_name" class="form-control">
                            <option value="">--Select Store--</option>
                            {% for store in stores %}
                                <option value="{{ store.name }}">{{ store.name }}</option>
                            {% endfor %}
                        </select>

                    </div>
                    <div class="form-group">
                        <label for="newStoreName">Or Add New Store:</label>
                        <input type="text" id="newStoreName" name="new_store" class="form-control" placeholder="New Store Name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Save Favorite Store</button>
                </div>
            </form>
        </div>
    </div>
</div>


<form id="formToSubmit" method="post" style="display: none;"></form>


{% endblock %}


