{% extends "layout.html" %}

{% block title %}
    Reset Password
{% endblock %}

{% block main %}

<header>
    <img class="w-20 mx-auto mb-5" src="static/running_cart.jpg" />
  </header>
<br>

<h4>Reset your Password</h4>

<hr>


<form action="/reset_password" method="post">
    <input type="hidden" name="form_type" value="forgot_password">
    <section>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text" required>
    </div>
</section>
<section>
    <br>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="newpass" placeholder="New Password" type="password" required>
    </div>
</section>
<section>
    <br>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" name="confirm" placeholder="Confirm New Password" type="password" required>
    </div>
    <br>
</section>
    <button class="btn btn-primary" type="submit">Change Password</button>
</form>



{% endblock %}
